.container1
{
  width: 100%;
  height: 100vh;
  background: gray;
}
.container2
{
  width: 100%;
  height: 100vh;
  background: darkblue;
}
.container3
{
  width: 100%;
  height: 100vh;
  background: darkmagenta;
}
.container4
{
  width: 100%;
  height: 100vh;
  background: darkred;
}



