
.skillsContainer img
{
position: absolute;
width: 100%;
height: 100vh;
}

.skillsContainer-opacity
{
  position: absolute;
  width: 100%;
  height: 91.7vh;
  background: #192666;

  filter: opacity(50%);
}

.skillsContainer-opacity div
{
  align-items: center;
  justify-content: center;
}

.skillsCard
{
  position: relative;
  width: 14.5rem;
  height: 18rem;
  background: #192666;
  border-radius: 8px;
  margin-top: 5%;
  margin-left: 9%;

  display: flex;
  float: left;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skillsCard:hover
{
  background: linear-gradient(180deg, #192666 0%, rgba(255, 255, 255, 0) 100%), #2a3981;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s;
}

.cardCentral
{
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50%;
}

.skillsCard img
{
  width: 5rem;
  height: 5.5rem;
  margin-bottom: 6rem;
}

.skillsCard b
{
   width: 100px;
  height: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #F6F4F4;
  line-height: 1.4;
  margin-bottom: 6rem;
}

.skillsCard p
{
  font-size: 1rem;
  color: #F6F4F4;

  display: flex;
  flex-direction: column;
  line-height: 1.4;
  max-width: 70%;
  margin-top: 6rem;
  line-height: 1.4;
}

@media (min-width: 800px)
{
  html
  {
    font-size: 87.5%;
  }

  .skillsCard
  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
@media (max-width: 1000px)
{
  .skillsCard
{
  width: 12.5rem;
  height: 16rem;
  margin-top: 3.5%;
  margin-left: 5.5%;
}
.skillsCard img
{
  width: 3rem;
  height: 3.5rem;
}

.skillsCard b
{
   width: 100px;
  height: 20px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}

.skillsCard p
{
  font-size: 1rem;

  max-width: 100%;
  margin-top: 3rem;
  line-height: 1;
}

}
