.containerSobre
{
  position: relative;
  width: 100%;
  height: 91.7vh;
  background: #F6F4F4;
}

.containerEsquerdo
{
  position: relative;
  width: 45%;
  height: 91.7vh;
  background: #F6F4F4;
  margin-left: 5%;

  display: flex;
  float: left;

  align-items: center;
  justify-content: center;
}

.containerEsquerdo img
{
  width: 70%;
  height: 70%;
}

.containerDireito
{
  position: relative;
  width: 45%;
  height: 91vh;
  background: #F6F4F4;

  display: flex;

  align-items: center;
  justify-content: center;
}
.containerTexto
{
  width: 100%;
}

.textoSobre
{
  font-size: 1.75rem;
  text-align: center;
  color: #817F7F;
}

.linhaTop
{
  width: 80%;
  height: 6px;
  background: #197DE5;
  border-radius: 10px;
  padding-top: 0;
  margin-left: 10%;

  position: absolute;
}

.linhaBotton
{
  width: 25%;
  height: 6px;
  background: #197DE5;
  border-radius: 10px;
  padding-bottom: 0;
  margin-left: 37.5%;

  position: absolute;
}

.headerSemOpacity
{
  width: 100%;
  height: 565px;
  background: #192666;

  position: relative;
}

@media(max-width: 1000px)
{
  .linhaTop
  {
    background: 0;
  }
  .linhaBotton
  {
    background: 0;
  }
  .containerSobre
  {
    height: 120vh;
  }
}

@media(max-width: 720px)
{
  .containerSobre
  {
    height: 150vh;
  }
}
